/* Stilizare Articole. */

/* Article cu clasa node--type--article, si din acest element, am stilizat toti h2 care sunt copii. */
article.node--type-article h2 {
    font-size: 24px;

}

h2.node__title a:hover {
    border-bottom: 1px solid salmon;
}

ul.links.field__items {
    text-transform: uppercase;
}

/* Full width content. */
main#content {
    margin: 0 auto;
    width: 100%;
}

/* Footer. */
footer ul.menu {
    display: flex;
}

footer ul.menu li {
    font-size: 14px;
    margin: 0 5px;
}

footer ul.menu li.menu-item a {
    border-bottom: 0;
}

/* Frontpage. */
.view-id-frontpage .views-row {
    margin: 20px 0;
}

.view-id-frontpage .views-row .views-field-title {
    color: black;
    font-size: 24px;
    margin: 10px 0;
}

.view-id-frontpage .views-row .views-field-view-node a {
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
}

/* Site Branding. */
.site-branding .site-branding__text {
    display: none;
}

/* Main Menu. */
nav.navigation.menu--main {
    border: none;
}

nav.menu--main ul.menu {
    display: flex;
}

nav.menu--main ul.menu li {
    font-size: 14px;
}

nav.menu--main ul.menu li a {
    border: none;
}

/* Featured Articles. */
.block-views-blockfeatured-block-1 {
    max-width: 50%;
}

.block-views-blockfeatured-block-1 .node__title {
    font-size: 32px;
    font-weight: bold;
    padding-top: 0;
}
.block-views-blockfeatured-block-1 .field--name-body {
    display: none;
}

.block-views-blockfeatured-block-1 .node__links {
    display: none;
}

.block-views-blockfeatured-block-1 .node__meta {
    font-size: 14px;
}

.block-views-blockfeatured-block-1 > h2 {
    color: #0071b3;
    font-weight: bold;
}

/* Animation on Articles. */
article.node--view-mode-teaser {
    transition: 0.3s;
}
article.node--view-mode-teaser:hover {
    opacity: 0.7;
    transition: 0.3s;
}

/* Articole care nu sunt Featured. */
#block-blog-content article img {
    max-width: 295px;
}

#block-blog-content article h2.node__title {
    font-weight: bold;
}

#block-blog-content div.node__links .links li a {
    border: 1px solid;
    font-size: 16px;
    padding: 5px 10px;
}

#block-blog-content .field--name-user-picture {
    display: none;
}

/* Style user picture. */
.field--name-user-picture {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
}

.field--name-user-picture img {
    width: 100%;
}

/* All Teaser Articles */
article .node__meta {
    align-items: center;
    display: flex;
}

article .node__meta a {
    border: none;
    color: salmon;
    font-size: 16px;
}